body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s;
}

.profile-picture {
    width: 150px; /* تعديل حجم الصورة هنا */
    height: auto;
    border-radius: 50%; /* لجعل الصورة دائريّة */
}

.contact-info {
    margin: 10px 0;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s forwards;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: transform 0.3s; /* لتأثير التحول */
}

.whatsapp-button img {
    width: 60px;
    height: 60px;
}

#scrollToTop {
    position: fixed;
    bottom: 80px;
    right: 30px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: none; /* مخفي حتى يتم التمرير */
    z-index: 1000;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
